@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
.userSettings,
.teamSettings {
  padding: 10px;
}
.setting {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.setting > label {
  font-size: 12px;
  margin: 0px 2px;
}
.setting > label > input:first-child {
  width: 30px;
}
.setting > label > input {
  width: 25px;
}
.setting > label > input:last-child {
  width: 70px;
}

.row {
  display: flex;
  width: 100%;
  flex-direction: row;
  font-size: 12px;
  justify-content: space-between;
}
.col {
  width: 45%;
  /* padding: 10px; */
}
.keyValue {
  width: 100%;
  display: flex;
  margin: 5px 0;
}
.key {
  width: 75%;
  display: flex;
  align-items: center;
}
.value {
  width: 25%;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.buttons > button {
  margin-right: 10px;
  padding: 2px 12px;
  font-size: 12px;
  border: 1px solid transparent;
}
button:hover {
  border: 1px solid aqua;
  background-color: rgba(0, 255, 255, 0.1);
}
button:focus {
  border: 1px solid aqua;
}
button:after {
  border: 1px solid aqua;
}
